body {
    display: flex; 
    justify-content: center;
}
 
.wrapper {
    width: 60%;
    background: red;
}

.contact {
    text-align: center;
}

h1 {
    color: blue;
    text-align: center;
    font-size: 4em;
}


